<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Free Rest Api Downloader search random picture maker and others">
    <meta name="author" content="Brasho kish">
    <meta property="og:image" content="https://i.imgur.com/dehik0h.png">
    <title>Brasho kish Apis │ Docs</title>
    <script src="https://kit.fontawesome.com/5367cb78eb.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="https://i.imgur.com/dehik0h.png"/> 
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/default.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <style>
        .api-table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
        }
        .api-table th, .api-table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        .api-table th {
            background-color: #f2f2f2;
        }
        .active {
            color: green;
        }
        .inactive {
            color: red;
        }
        .btn {
            margin: 5px;
        }
    </style>
</head>

<body id="page-top" class="dark-mode">
    <div id="wrapper">
        <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/docs">
                <img src="images/IMG-20220810-WA0058.png" class="rounded-circle shadow-4" style="width: 50px;" alt="Avatar" />
                <div class="sidebar-brand-text mx-3">Rest API</div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" href="/statistic">
                    <i class="fas fa-fw fa-thermometer-three-quarters"></i>
                    <span>Statistic</span></a>
            </li>
            <hr class="sidebar-divider">

            <!-- Downloader APIs Section -->
            <h6 class="collapse-header" data-toggle="collapse" data-target="#downloaderAPIs" aria-expanded="false" aria-controls="downloaderAPIs">
                <i class="fas fa-fw fa-download"></i> Downloader APIs <i class="fas fa-chevron-down"></i>
            </h6>
            <div class="collapse" id="downloaderAPIs">
                <table class="api-table">
                    <tr>
                        <th>API</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <td>Downloader API 1</td>
                        <td class="active">Active</td>
                        <td><a class="btn btn-primary" href="#" target="_blank">Download</a></td>
                    </tr>
                    <tr>
                        <td>Downloader API 2</td>
                        <td class="inactive">Inactive</td>
                        <td><a class="btn btn-secondary" href="#" target="_blank">Download</a></td>
                    </tr>
                </table>
            </div>

            <!-- Text Pro Section -->
            <h6 class="collapse-header" data-toggle="collapse" data-target="#textProAPIs" aria-expanded="false" aria-controls="textProAPIs">
                <i class="fas fa-fw fa-pencil-alt"></i> Text Pro APIs <i class="fas fa-chevron-down"></i>
            </h6>
            <div class="collapse" id="textProAPIs">
                <table class="api-table">
                    <tr>
                        <th>API</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <td>Text Pro API 1</td>
                        <td class="active">Active</td>
                        <td><a class="btn btn-primary" href="#" target="_blank">Generate</a></td>
                    </tr>
                    <tr>
                        <td>Text Pro API 2</td>
                        <td class="inactive">Inactive</td>
                        <td><a class="btn btn-secondary" href="#" target="_blank">Generate</a></td>
                    </tr>
                </table>
            </div>

            <!-- Sound Of Text Section -->
            <h6 class="collapse-header" data-toggle="collapse" data-target="#soundOfTextAPIs" aria-expanded="false" aria-controls="soundOfTextAPIs">
                <i class="fas fa-fw fa-volume-up"></i> Sound Of Text APIs <i class="fas fa-chevron-down"></i>
            </h6>
            <div class="collapse" id="soundOfTextAPIs">
                <table class="api-table">
                    <tr>
                        <th>Language</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <td>Indonesian</td>
                        <td class="active">Active</td>
                        <td><a class="btn btn-primary" href="api/soundoftext?text=hi&lang=id-ID" target="_blank">Generate</a></td>
                    </tr>
                    <tr>
                        <td>English (United States)</td>
                        <td class="active">Active</td>
                        <td><a class="btn btn-primary" href="api/soundoftext?text=hi&lang=en-US" target="_blank">Generate</a></td>
                    </tr>
                    <tr>
                        <td>Japanese (Japan)</td>
                        <td class="active">Active</td>
                        <td><a class="btn btn-primary" href="api/soundoftext?text=hi&lang=ja-JP" target="_blank">Generate</a></td>
                    </tr>
                    <tr>
                        <td>French</td>
                        <td class="active">Active</td>
                        <td><a class="btn btn-primary" href="api/soundoftext?text=hi&lang=fr-FR" target="_blank">Generate</a></td>
                    </tr>
                    <tr>
                        <td>Filipino</td>
                        <td class="active">Active</td>
                        <td><a class="btn btn-primary" href="api/soundoftext?text=hi&lang=fil-PH" target="_blank">Generate</a></td>
                    </tr>
                    <tr>
                        <td>Burmese (Myanmar)</td>
                        <td class="active">Active</td>
                        <td><a class="btn btn-primary" href="api/soundoftext?text=hi&lang=my" target="_blank">Generate</a></td>
                    </tr>
                    <tr>
                        <td>German</td>
                        <td class="active">Active</td>
                        <td><a class="btn btn-primary" href="api/soundoftext?text=hi&lang=de-DE" target="_blank">Generate</a></td>
                    </tr>
                    <tr>
                        <td>Italian</td>
                        <td class="active">Active</td>
                        <td><a class="btn btn-primary" href="api/soundoftext?text=hi&lang=it-IT" target="_blank">Generate</a></td>
                    </tr>
                    <tr>
                        <td>Korean</td>
                        <td class="active">Active</td>
                        <td><a class="btn btn-primary" href="api/soundoftext?text=hi&lang=ko-KR" target="_blank">Generate</a></td>
                    </tr>
                </table>
            </div>

            <!-- Search Section -->
            <h6 class="collapse-header" data-toggle="collapse" data-target="#searchAPIs" aria-expanded="false" aria-controls="searchAPIs">
                <i class="fas fa-fw fa-search"></i> Search APIs <i class="fas fa-chevron-down"></i>
            </h6>
            <div class="collapse" id="searchAPIs">
                <table class="api-table">
                    <tr>
                        <th>API</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <td>Search API 1</td>
                        <td class="active">Active</td>
                        <td><a class="btn btn-primary" href="#" target="_blank">Search</a></td>
                    </tr>
                    <tr>
                        <td>Search API 2</td>
                        <td class="inactive">Inactive</td>
                        <td><a class="btn btn-secondary" href="#" target="_blank">Search</a></td>
                    </tr>
                </table>
            </div>

            <!-- Random Picture Section -->
            <h6 class="collapse-header" data-toggle="collapse" data-target="#randomPictureAPIs" aria-expanded="false" aria-controls="randomPictureAPIs">
                <i class="fas fa-fw fa-image"></i> Random Picture APIs <i class="fas fa-chevron-down"></i>
            </h6>
            <div class="collapse" id="randomPictureAPIs">
                <table class="api-table">
                    <tr>
                        <th>API</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <td>Random Picture API 1</td>
                        <td class="active">Active</td>
                        <td><a class="btn btn-primary" href="#" target="_blank">Get Picture</a></td>
                    </tr>
                    <tr>
                        <td>Random Picture API 2</td>
                        <td class="inactive">Inactive</td>
                        <td><a class="btn btn-secondary" href="#" target="_blank">Get Picture</a></td>
                    </tr>
                </table>
            </div>

            <!-- Game Section -->
            <h6 class="collapse-header" data-toggle="collapse" data-target="#gameAPIs" aria-expanded="false" aria-controls="gameAPIs">
                <i class="fas fa-fw fa-gamepad"></i> Game APIs <i class="fas fa-chevron-down"></i>
            </h6>
            <div class="collapse" id="gameAPIs">
                <table class="api-table">
                    <tr>
                        <th>API</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <td>Game API 1</td>
                        <td class="active">Active</td>
                        <td><a class="btn btn-primary" href="#" target="_blank">Play</a></td>
                    </tr>
                    <tr>
                        <td>Game API 2</td>
                        <td class="inactive">Inactive</td>
                        <td><a class="btn btn-secondary" href="#" target="_blank">Play</a></td>
                    </tr>
                </table>
            </div>

            <!-- Maker Section -->
            <h6 class="collapse-header" data-toggle="collapse" data-target="#makerAPIs" aria-expanded="false" aria-controls="makerAPIs">
                <i class="fas fa-fw fa-cogs"></i> Maker APIs <i class="fas fa-chevron-down"></i>
            </h6>
            <div class="collapse" id="makerAPIs">
                <table class="api-table">
                    <tr>
                        <th>API</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <td>Maker API 1</td>
                        <td class="active">Active</td>
                        <td><a class="btn btn-primary" href="#" target="_blank">Create</a></td>
                    </tr>
                    <tr>
                        <td>Maker API 2</td>
                        <td class="inactive">Inactive</td>
                        <td><a class="btn btn-secondary" href="#" target="_blank">Create</a></td>
                    </tr>
                </table>
            </div>

        </ul>
    </div>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
   <div class="container-fluid" id="container-wrapper">
                    <div class="card h-50 mb-4">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col mr-2">
                                    <div class="text-md-left font-weight-bold mb-2 text-primary">Rest Api By Brasho Kish</div>
                                    <div class="text-sm-left mb-0 font-weight-bold">Hello Welcome To Brasho Kish Apis
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-quote-right fa-2x text-primary"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">Visitor</div>
                                            <div class="h5 mb-0 font-weight-bold" id="visitor">0</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-eye fa-2x text-primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">Battery</div>
                                            <span id="battery_level" class="h5 mb-0 font-weight-bold">Waiting... </span>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa fa-battery-full" ></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     
                         <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">ROAD TO SUCCESS KISH</div>
                                            <div class="h5 mb-0 font-weight-bold" id="Endtime">Waiting... </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">Time</div>
                                            <div class="h5 mb-0 font-weight-bold" id="row-no-guttersalign-items-center">00:00:00</div>
                                            <div class="h5 mb-0 font-weight-bold" id="text-xsfont-weight-boldtext-uppercase-mb-1">Good morning</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar fa-2x text-primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="findipurl"> <a href="find-ip.net" ></a></div>

                <script defer src="https://api.find-ip.net/widget.js?width=220&bg=%23152232&border=%230e1824&textcol=%23d3d5f3&language=0&system=0&"></script>


                    <div class="Box mt-4">
                        <div class="Box-body p-4">
                          <div class="d-flex flex-justify-between">
                            <div class="text-mono text-small mb-3">
                            </div>
                          </div>
                         
                  
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            Contact Me
                            <p>
                                <a href="https://github.com/Brashokish" class="btn btn-primary btn-sm mr-2" target="_blank"><i class="fab fa-fw fa-github"></i>&nbsp;Github</a>
                                <a href="https://instagram.com/brashokish" class="btn btn-primary btn-sm ml-2" target="_blank"><i class="fab fa-fw fa-instagram"></i>&nbsp;Instagram</a>
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>
             
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        Made with <i class="fa fa-heart"></i> by
                        <a href="https://github.com/mask-sir" target="_blank" style="color: rgb(255, 234, 0);">BRASHO KISH🇰🇪</a>
                        </span>
                    </div>
                </div>
            </footer>
       
        </div>
    </div>

    
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

          
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="js/ruang-admin.min.js"></script>
    <script src="js/menu.js"></script>
    

</body>

</html>

                                
