<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Free Rest Api Dowloader search random picture maker and others">
    <meta name="author" content="Brasho kish">
    <meta property="og:image" content="https://i.imgur.com/dehik0h.png">
    <title>Brasho kish Apis │ Docs</title>
    <script src="https://kit.fontawesome.com/5367cb78eb.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="https://i.imgur.com/dehik0h.png"/> 
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/default.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body id="page-top" class="dark-mode">
    <div id="wrapper">
        <!-- Sidebar content here -->

        <div class="container-fluid">
            <h3 class="mt-4">API Status</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>API</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Facebook Downloader</td>
                        <td id="facebook-status">Checking...</td>
                    </tr>
                    <tr>
                        <td>Twitter Downloader</td>
                        <td id="twitter-status">Checking...</td>
                    </tr>
                    <tr>
                        <td>TikTok Downloader</td>
                        <td id="tiktok-status">Checking...</td>
                    </tr>
                    <tr>
                        <td>Instagram Downloader</td>
                        <td id="instagram-status">Checking...</td>
                    </tr>
                    <tr>
                        <td>SoundCloud Downloader</td>
                        <td id="soundcloud-status">Checking...</td>
                    </tr>
                    <tr>
                        <td>Text Pro Service</td>
                        <td id="textpro-status">Checking...</td>
                    </tr>
                    <tr>
                        <td>Photooxy Service</td>
                        <td id="photooxy-status">Checking...</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <script>
            // Example: You can use JavaScript to dynamically check API statuses
            function checkApiStatus(apiName) {
                // Example API check - Replace with actual API checks
                fetch(`https://api.example.com/status/${apiName}`)
                    .then(response => response.json())
                    .then(data => {
                        const status = data.active ? "Active" : "Inactive";
                        document.getElementById(`${apiName}-status`).innerText = status;
                    })
                    .catch(error => {
                        document.getElementById(`${apiName}-status`).innerText = "Error";
                    });
            }

            // Check all APIs
            const apiList = ['facebook', 'twitter', 'tiktok', 'instagram', 'soundcloud', 'textpro', 'photooxy'];
            apiList.forEach(api => checkApiStatus(api));
        </script>

    </div>
</body>
</html>
